<h2>new idea</h2>


<form action="/creat_idea">
  <input type="text" name="topic" placeholder="topic">
  <input type="text" name="description" placeholder="description" >
  <input type="submit">
</form>